# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
ENV/
env/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

